/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 450px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  right: 0;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #818181;
  display: block;
}

.sidebar boxes{
	
}

.Ban {
	float:right;
}

/* Style page content */
.main {
  margin-right: 10px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.closeButton {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
}

.chess-board { border-spacing: 0; border-collapse: collapse;  }
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #000; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: #eee; }
.chess-board .dark { background: #aaa; }
.chess-board {font-family: Arial, Helvetica, sans-serif;}

.chess-board-lil { border-spacing: 0; border-collapse: collapse;  }
.chess-board-lil th { padding: .5em; }
.chess-board-lil th + th { border-bottom: 0.5px solid #000; }
.chess-board-lil th:first-child,
.chess-board-lil td:last-child { border-right: 0.5px solid #000; }
.chess-board-lil tr:last-child td { border-bottom: 0.5px solid; }
.chess-board-lil th:empty { border: none; }
.chess-board-lil td { width: 0.75em; height: 0.75em; text-align: center; font-size: 16px; line-height: 0;}
.chess-board-lil .light { background: #eee; }
.chess-board-lil .dark { background: #aaa; }
.chess-board-lil {font-family: Arial, Helvetica, sans-serif;}
